<h1> Games from <%=@user.username%> </h1>

<ul>
  <% @user.games.each do |game|%>
      <li><a href="/games/<%=game.id%>"><%=game.title%></a></li>
  <%end%>
</ul>

  <!--Log Out  -->
  <br>
  <form method="post" action="/logout">
    <input id="hidden" type="hidden" name "_method" value="patch">
    <input type="submit" value="Log out">
  </form>
