<h1>This Game</h1>








<!--Log Out  -->
<br>
<form method="post" action="/logout">
  <input id="hidden" type="hidden" name "_method" value="patch">
  <input type="submit" value="Log out">
</form>
